.main {
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.title-show {
  font-size: 30px;
  text-align: center;
}

.date {
  clear: left;
  display: inline-block;
  padding: 8px;
}

.category {
  float: right;
  display: inline-block;
}

.text-show {
  display: block;
  padding: 5px;
}

.button {
  margin-top: 5px;
  clear: left;
}

.button:last-child {
  float: right;
}
